[2016-11-10 21:46] leiradel opened #3 "Updates for Game Boy Advance cores"
[vbam-libretro](https://github.com/libretro/vbam-libretro) should be working just fine, it just needs some tests to validate. The [mGBA core](https://github.com/libretro/mgba) should also be working.

[vba-next](https://github.com/libretro/vba-next) doesn't support the memory map interface, so achievements won't work ok with it.

[2016-11-10 21:49] meleu commented on #3
Are you talking about Game Boy or Game Boy Advance?

[2016-11-10 21:52] leiradel commented on #3
vbam-libretro and vba-next only support GBA. mGBA suports GB, GBC and GBA, but it only supports achievements for GBA games.

[2016-11-10 21:53] meleu commented on #3
Thanks, I'm going to update the [core compatibility list](https://github.com/meleu/RetroArch-problematic-cheevos/blob/master/core_compatibility.md).

[2016-11-10 21:55] leiradel commented on #3
Please notice that I *believe* mGBA and vbam-libretro are working ok with achievements, I'm not 100% positive.

[2016-11-10 21:56] leiradel commented on #3
Maybe mGBA should also appear in the Game Boy/Game Boy Color list, but as not supported?

[2016-11-10 21:57] meleu commented on #3
No problem. @grenade44 gave some feedback on that retroachievements.org post, and he is using mgba.
I think @Cabrunco tested some GBA cheevos in mgba too.

I agree.

[2016-11-10 22:01] meleu commented on #3
@leiradel do you have something to say about [vba-next](https://github.com/libretro/vba-next)?

[2016-11-10 22:18] leiradel commented on #3
I already did! :)

[2016-11-10 22:20] meleu commented on #3
Oh sorry! :sweat_smile:
I'll put this info in the list.

[2016-11-10 22:25] meleu commented on #3
I renamed the title for Game Boy Advance specific
If we have updates for other system, let's open another issue. :wink:

[2016-11-10 22:31] chewvodka commented on #3
Will there be cheevo capabilities in mGBA for regular GB/GBC or when you say it only supports GBA that means never?  By default, RetroPie (though you don't necessarily have to use it) runs GB/GBC roms in Gambatte. Is that a compatible core to check on?  It does work as far as pulling the cheevo list..

[2016-11-10 22:37] leiradel commented on #3
For now, mGBA will only support GBA achievements. For GB/GBC, I have a fix to Gambatte waiting to be discussed and approved by the libretro team. If you know how to clone and compile a libretro core, you can try the fix directly from my [repository](https://github.com/leiradel/gambatte-libretro).

[2016-11-10 22:38] leiradel commented on #3
@meleu I think we can close this issue, as the list has already been updated.

[2016-11-10 22:47] #3 closed

[2016-11-13 22:42] meleu opened #6 "Kirby Super Star - SNES"
@leiradel let's try to talk here. :-)

I tried your recent [RetroArch commit](https://github.com/leiradel/RetroArch/commit/2b345b8d48148eec139d67e535a4467db06c267a) with Snes9x 2010 (former Snes9x Next) and the [Hungriest Runner](http://retroachievements.org/Achievement/24594) still doesn't work.

I'm compiling the other libretro SNES cores to test.

@GameDragon2k can you confirm if it works with

[2016-11-13 22:46] leiradel commented on #6
It won't work on SNES9x 2010, this core isn't implementing the memory map interface. Please try with SNES9x Next.

SNES9x 2010 is listed as the core with the best compatibility, I believe this is an error. I think the best core to unlock cheevos is SNES9x Next.

[2016-11-13 23:23] leiradel commented on #6
Hm, I've changed the way I calculate bit values and I could get Hungriest Runner with SNES9x 2010. This core doesn't implement the memory map interface, but it does implement the get_memory_* API. This API is far inferior to the memory map, and some cheevos may not work with it.

If someone wants to give it a try, the commit is this one: https://github.com/leiradel/RetroArch/commit/170c98b59393bac

[2016-11-13 23:24] meleu commented on #6
Let's use links to the core repositories. When I say Snes9x 2010 I'm talking about this one:
https://github.com/libretro/snes9x2010

The description says "Snes9x 2010. Port of Snes9x 1.52+ to Libretro (previously called SNES9x Next). Rewritten in C and several optimizations and speedhacks."

Can you post a link to the snes9x next repo?

[2016-11-13 23:24] leiradel commented on #6
Some additional tests with other cheevos that were fixed recently would be awesome to avoid regressions.

[2016-11-13 23:35] meleu commented on #6
I'll test this night ;-)

[2016-11-13 23:36] leiradel commented on #6
SNES9x Next is this one: https://github.com/libretro/snes9x

[2016-11-14 00:37] meleu commented on #6
Tested here.
[Snex9x 2010](https://github.com/libretro/snes9x) is working and [Snex9x](https://github.com/libretro/snes9x) isn't.
I got Hungriest Runner with Snes9x 2010 (what I think is the former snes9x next), and then did a reset in this cheevo and tried with Snes9x. It didn't work.

@leiradel can you confirm with your libretro fellows what is the actual "snex9x next"?

[2016-11-14 00:44] leiradel commented on #6
It's this one: https://github.com/libretro/snes9x

[2016-11-14 00:45] meleu commented on #6
Well... The snes9x from this repository (https://github.com/libretro/snes9x) isn't working.

And tested Hungriest Runner again with [bsnes](https://github.com/libretro/bsnes-libretro) too. It's working fine! :-)

[2016-11-14 02:04] meleu commented on #6
@leiradel according [to this answer](https://github.com/libretro/RetroArch/pull/3992#issuecomment-260227771) the [Snes9x 2010](https://github.com/libretro/snes9x2010) description seems to be correct. It really is the actual Snes9x next.

[2016-11-14 02:55] chewvodka opened #7 "Final Fantasy (NES) - FCEUmm"
http://retroachievements.org/Achievement/3568
Win your first battle.

Works fine in QuickNES.  Attached save state happens right after I click the monster to fight with my last player.  The animation happens for the attack, kills the monster, and the fight is over.  In QuickNES the cheevo pops right after returning to the map (after all the awards are given).
[tmp_22206-Final Fantasy (USA).state-1

[2016-11-14 04:13] chewvodka commented on #7
I'm still new with Github, should I have put this on the "code" page?  I don't know how to do that.

[2016-11-14 08:36] grenade44 commented on #6
I cant currently test but this emulator used to work with snes achievements. https://github.com/RetroPie/ARMSNES-libretro

[2016-11-14 10:11] GameDragon2k commented on #6
@meleu @leiradel Can confirm both Hungriest Runner and Speed Eater are working now.

[2016-11-14 11:01] GameDragon2k commented on #7
It's okay. Although, QuickNES is currently the main NES core for achievements, so if it's working on that, there's no issue.

If possible, you should use QuickNES core for all your tests until FCEUmm core is properly supported.

[2016-11-14 11:44] meleu commented on #7
@chewvodka , the @GameDragon2k is right. The tests should be made in QuickNES.

But thanks for your save. It can be useful if somebody wants to fix the FCEUmm cheevo issue. And don't worry about the github details to help us here. The way you did is fine. :-)

What core did you use to make this save state?

[2016-11-14 14:26] chewvodka commented on #7
I used FCEUmm (in the title lol).  I'll continue reporting as I play, but I'll switch over to QuickNES for the time being.

[2016-11-14 23:39] grenade44 opened #8 "Crash-Bandicoot-2-N-Tranced-GBA"
This crash game still unlocks achievement's when loading the game. I'm using mGBA.

[2016-11-15 00:04] meleu commented on #6
Solved, then I'm closing this issue.

[2016-11-15 00:04] #6 closed

[2016-11-15 00:43] meleu commented on #8
It doesn't happen here.
I'm using the most recent RetroArch and mGBA.
You can see in my [RA Homepage](http://retroachievements.org/user/meleu) that I "played" (actually I just started the game and exited) and I don't have any cheevo.

While in mGBA I checked the Achievement List and everything is fine. All the cheevos are Locked.

Can you give details about your system?

[2016-11-15 00:43] meleu commented on #8
Just to make it clear, we are talking about this game: http://retroachievements.org/Game/5535
Right?

[2016-11-15 00:56] meleu commented on #8
And to make sure that it's recording the cheevos I finished the tutorial (first stage) and earned the [Thoroughtorial](http://retroachievements.org/Achievement/30405).

Then I'm considering this game as having no issues. Is it OK for you?

[2016-11-15 01:31] GameDragon2k commented on #8
Can confirm it's working for me too.

@grenade44, if you're still having issues. Make sure you're using the latest version of RetroArch and mGBA.

[2016-11-15 07:37] grenade44 commented on #8
I will take another look, my retroarch is only couple of days out of date. I will rebuild from source and update my mGBA, I wonder if I'm using the wrong rom. Let me do some checks.

[2016-11-15 08:19] grenade44 commented on #8
@meleu @GameDragon2k what rom did you use? I updated mGBA and changed to the U rom as it mentioned on retroachievements and completed the first level and no achievement. Updating retroarch now

[2016-11-15 08:21] grenade44 commented on #8
I know this for achievements but does anyone know why it's not as omg my progress?

[2016-11-15 10:57] GameDragon2k commented on #8
@grenade44 Hmm you're right. It doesn't save on mGBA at all for some reason.

I did get it to work on VBA-M however. Saving seems fine there. Haven't run into achievement issues with that either. Using (U) rom.

[2016-11-15 11:49] meleu commented on #8
@GameDragon2k Please sorry my ignorance, but what do you mean "save" in this context?
Do you mean save as in the original Game Boy Advance hardware?
I'm asking because I'm playing "Castlevania - Aria of Sorrow" using mGBA (on my Linux Mint/x86 and RetroPie/raspi2), and it's saving correctly.

[2016-11-15 12:05] grenade44 commented on #8
Yes within Gameboy hardware, when I get a sec I will try and play the game on another emulator.

[2016-11-15 13:19] GameDragon2k commented on #8
@meleu Internal saves are working for other games I've tried on mGBA, but not this game.
Works on VBA-M.

[2016-11-15 15:50] meleu commented on #8
It's weird. If you guys want someone taking a look at it, open an issue on mgba issue tracker:
https://github.com/libretro/mgba/issues

I'm closing this issue here because I'm getting this game working fine with the cheevos, OK?
(If you find another cheevos issue with this game we can reopen it)

Cheers!

[2016-11-15 15:50] #8 closed

[2016-11-15 20:52] meleu commented on #7
Yo buddy. I opened an issue on libretro-fceumm repository talking about this issue:
https://github.com/libretro/libretro-fceumm/issues/52

I'm closing this here.

Thanks!

[2016-11-15 20:52] #7 closed

[2016-11-22 13:11] meleu opened #9 "Arkanoid: Doh it Again (SNES)"
This issue is unrelated with earning achievements itself, but with RetroArch ~~(or Snes9x2010 ?)~~.

The user GapporinRA reported [on RA forum](http://retroachievements.org/viewtopic.php?t=3020) that **RetroArch (up to date) crashes when loading "Arkanoid: Doh it Again" on Snes9x2010 with cheevos enabled. If the cheevos feature is disabled the ROM loads fine.**

I reproduced it on my Android phone

[2016-11-22 21:31] leiradel commented on #9
It's ok to report here. I'll take a look.

Is it a real crash or RetroArch freezes? I'm asking because I've just fixed an issue where it was freezing under certain circumstances.

[2016-11-22 21:49] meleu commented on #9
Real crash. I'm on the road now, but after a couple of hours I'll be able to give you some logs.

[2016-11-23 12:28] meleu commented on #9
@leiradel I've just updated RetroArch, and the cores snes9x2010, snes9x2005 and bsnes.

All three cores crashes ("Segmentation fault" on Linux) right after getting the achievements for the game.
[code]

All three runs find when cheevos os OFF.

[2016-11-23 14:14] leiradel commented on #9
Can you post a backtrack? Thanks!

[2016-11-23 15:37] meleu commented on #9
Forgive my ignorance, I don't know what is a backtrack. :sweat:

[2016-11-23 17:05] leiradel commented on #9
Argh, it was supposed to read "backtrace". Stupid corrector.

Compile RetroArch for debug:

    make clean && make -j 8 DEBUG=1

Run it with `gdb`:

    gdb retroarch
    (gdb) run

When it crashes, print a backtrace:

    bt

I'll try to reproduce on Windows too.

[2016-11-23 19:42] leiradel commented on #9
It seems the JSON object with the achievements for this game is empty:

    $ curl -o adia.json "http://retroachievements.org/dorequest.php?r=patch&u=leiradel&g=392&f=3&l=1&t=XXXXXXXXXXXXXXXX"
    $ ls -l adia.json
    -rw-r--r-- 1 andre andre       0 Nov 23 19:39 adia.json

I'll fix RetroArch to log an error instead of crashing. @meleu could you report this problem to Retro Achievements?

[2016-11-23 20:20] leiradel commented on #9
Fixed here: https://github.com/libretro/RetroArch/pull/4059

[2016-11-23 22:34] meleu commented on #9
I don't know where to report it on RetroAchievements.org

The [Bug Reports in SNES section](http://retroachievements.org/viewforum.php?f=14) seems to be used for reporting bugs on RASnes (according to the description). But I [reported it there](http://retroachievements.org/viewtopic.php?t=3910).

@leiradel , can you see if it needs more details?

[2016-11-23 22:54] leiradel commented on #9
I've added more details so that people can repro the problem. I think we did all we could, so I believe this issue can be closed.

[2016-11-23 23:16] meleu commented on #9
I've tried to make this issue reach Scott here:
http://retroachievements.org/viewtopic.php?t=3803&o=15

Closing the issue here.

[2016-11-23 23:16] #9 closed

[2016-11-23 23:23] leiradel commented on #9
Nice, maybe he clears up those doubts as well.

[2016-11-27 19:10] meleu opened #10 "Super Mario World 2: Yoshi's Island (SNES)"
@leiradel

The user @ivestmt666 reported on [RA forum](http://retroachievements.org/viewtopic.php?t=3020&c=19525) and I confirmed here: RetroArch doesn't load the achievements list for "Super Mario World 2: Yoshi's Island (SNES)"

I think there's a problem with the hash calculation for this game in RetroArch and RetroAchievements doesn't return the correct game id ([558](http://retroachievements.o

[2016-11-27 19:44] leiradel commented on #10
Thanks for the additional info. Could you sniff the network and see which hash RASnes is sending to retrochievements.org?

[2016-11-27 20:05] meleu commented on #10
Here is the sniffed request:
[code]

[2016-11-27 20:52] leiradel commented on #10
Hm, I think I'll need to implement this stuff: https://github.com/RetroAchievements/RASuite/blob/a87594e555b75d302104b938424501b1706db11a/RASnes9x/memmap.cpp#L1559

[2016-11-27 20:54] leiradel commented on #10
On the other hand, I believe it's possible to have more than one hash per game in Retro Achievements, in which case adding the hash calculated by the generic method in RetroArch would be preferable.

[2016-11-27 21:10] leiradel commented on #10
I ended up just adding the plain MD5 hash of the ROM to the Retro Achievements database: cb472164c5a71ccd3739963390ec6a50

This issue can be closed.

[2016-11-27 21:54] meleu commented on #10
Yeah! It's working. But how can you add a hash to the RetroAchievements database?

[2016-11-27 21:54] #10 closed

[2016-11-27 22:03] leiradel commented on #10
There's an Retro Achievements webservice which allows for adding new MD5 hashes to existing games. Scott sent it to me an year ago, saying that it should be ok to add the plain hashes to the database, but since it would be a huge amount of work to do it for every game, I focused in calculating the hash just like the RA emulators do.

If we start to see many roms being unidentified, I will probably

[2016-11-27 22:07] meleu commented on #10
I think somebody did it for all those Contra versions we talked about on that RetroArch issue.

[2016-12-04 04:38] meleu opened #11 "Phantasy Star (Master System)"
This issue was originally reported by @chewvodka on [RetroPie forum](https://retropie.org.uk/forum/topic/5806/phantasy-star-sms-doesn-t-run).

Yeah! You've read it right! A Master System game!

The hash of this ROM is `d6705359599c19322d2868b0a87f8eba`, and the RetroAchievements.org returns the 9141 game id. As we can see [here](http://retroachievements.org/Game/9141), it's an invalid Mega Drive g

[2016-12-04 04:53] chewvodka commented on #11
I'm good at finding bugs lol.  :)  At first I thought this was a corrupted ROM, but by using the suggestion by @meleu to add a `cheevos_enable = "false"` line to the cfg file, it allowed the ROM to load.

[2016-12-04 06:49] meleu commented on #11
It was a false alarm. This is that empty json response problem, already solved when that Arkanoid issue (#9) was solved.
The user was using an outdated RetroArch.

[2016-12-04 06:49] #11 closed

[2016-12-11 14:39] grenade44 opened #12 "Wario Adventure Snes"
Hi just tried playing http://retroachievements.org/Game/9175 (link to rom in comments) via the lr-snes9x-2010 emulator and it doesn't load the achievement or shows on my profile. I've updated retroarch and emulator from source today. I played another SNES game and it worked fine.

[2016-12-11 16:07] meleu commented on #12
Can you post a log? (Run retroarch with `--verbose`)

[2016-12-11 16:16] grenade44 commented on #12
I will upload the long in a couple of hours, when I get a chance.

[2016-12-11 23:18] grenade44 commented on #12
Where is the log saved to on retropie?

[2016-12-11 23:47] grenade44 commented on #12
Parameters:
Executing: /opt/retropie/emulators/retroarch/bin/retroarch -L /opt/retropie/libretrocores/lr-snes9x2010/snes9x2010_libretro.so --config /opt/retropie/configs/snes/retroarch.cfg "/home/pi/RetroPie/roms/snes/Wario Adventure.smc" --verbose --appendconfig /dev/shm/retroarch.cfg
RetroArch [INFO] :: Redirecting save file to "/home/pi/RetroPie/roms/snes/Wario Adventure.srm".
RetroArch [INFO]

[2016-12-12 03:41] meleu commented on #12
Did you tried this same ROM with RASnes? Doest it work?

[2016-12-12 22:44] grenade44 commented on #12
Sorry for the late reply, its been mental today,

Yes the game works in RAsnes9x.

[2016-12-14 01:58] meleu commented on #12
Sorry for the late reply too. My youngest son has been ill.
I'll take a look in this issue ASAP.

[2016-12-14 08:41] meleu commented on #12
@leiradel I tried to solve this issue here adding the MD5 hash to retroachievements.org database but, as expected, I don't have enough permissions to do it (received "Credentials invalid (0)" message). :-)

Could you add this game to the database?

I used the hash from Generic (plain content): `5c8db832618e964828a1f312d4f7a31b`

[2017-01-02 23:31] grenade44 opened #13 "Super Mario World Bros (SNES)"
This was first mentioned on the retroachievements forum by ivesmt666
This game loads but doesnt register on my profile.
http://retroachievements.org/Game/8811 (link in comments)

Same issue as #12

[2017-01-24 01:46] chewvodka opened #16 "Final Fantasy-NES"
Game - http://retroachievements.org/Game/1449
Cheevo - http://retroachievements.org/Achievement/3568

This is the first achievement you would unlock when playing the game.  "Win your first victory".  I've created a savestate right before you press the 'A' button to select the enemy to attack.  It does the attack, battle is over.  Cheevo should pop right after you return back to the map screen.  It

[2017-01-24 01:51] chewvodka commented on #16
http://s000.tinyupload.com/download.php?file_id=28872671044774510135&t=2887267104477451013580688

[2017-01-25 04:46] meleu commented on #16
Thanks man! I'm really really busy currently, but I'll try to take a look at it when I have time.

Cheers!

[2017-01-25 22:33] chewvodka commented on #16
Thanks, I didn't even know if this got in the right place or not.  Hope a fix is found.. really kinda surprised it's not working again.  I hadn't updated my RetroArch/QuickNES until AFTER the other one didn't pop.  For all I know, everything was working right with the version I had and the problem was with the server instead.  But now that I HAVE updated, this first achievement isn't working eithe

[2017-01-25 23:55] grenade44 commented on #16
I'm having issues logging in with any game on try playing, anyone else having issues?

[2017-01-26 02:15] chewvodka commented on #16
The last couple of days I've been just trying to access the website to check things like new achievements to play for, and to reset my Final Fantasy cheeves.  The website has gone down almost every night for me, and taking forever to load when it's up.  I think this might be giving "false positives" with games not registering cheeves that should be working otherwise.  Until the site becomes stable

[2017-01-26 08:20] grenade44 commented on #16
The site seems to be working today and managed to get my missing crash achievements, apparently retroachievements hard drive is full and this is causing the issues with the site.  If I remember correctly I saw leiradel saying something about storing achievements in game until it can connect to the server but that wad a long time again. Maybe some kind of fix could help us out with these issues.

[2017-02-05 21:48] chewvodka commented on #16
Any success with this?  I think it's still related to that bug when a game has a battery inside for saving.

[2017-02-10 08:59] chashodges opened #17 "Dynamite Headdy - Picodrive - 'Attract Mode' achievement"
The following achievement doesn't seem to work on Retroarch at present - http://retroachievements.org/Achievement/13297. I've tried using Picodrive and Genesis Plus.

The achievement should trigger by pressing start at the title screen, and then letting the 90 second cutscene play out entirely.

[2017-02-15 05:23] chewvodka commented on #16
Just thought I'd post up a quick update.  I updated RetroArch today (RetroPie via source) and along with it Quicknes (via source).  I then tried loading my savestate, and the achievement "VICTORY" popped!  So maybe the issue was resolved with either a RetroArch or Quicknes update.  Of course, using a savestate means you're not "HARDCORE" so I'm testing the game now in that mode to see if it still

[2017-02-15 05:34] chewvodka commented on #16
Well, I started all over again in HARDCORE mode, and it didn't pop.  Then I completely backed out and reset, then tried again in HARDCORE.  Still nothing.  Then just for kicks I decided to try and load the savestate again just to see it pop.  And it DIDN'T!!  So now something is REALLY messed up.  Might this still be an issue with the achievement/core, or is it maybe the server glitching again?  I

[2017-02-15 05:39] meleu commented on #16
I'm not sure about the network tricks they use, but the URL is the same for website and for user cheevos database.

Sorry for not being able to investigate it with you. Quite busy on other stuff...

[2017-04-16 00:09] grenade44 opened #18 "Master System Achievements"
@meleu @leiradel

Retroachievements has just started supporting Master System achievements by a custom hacked emulator. Which can be found [here](http://retroachievements.org/viewtopic.php?t=4436&c=22074). Its using a hacked Meka emulator.

I know the meka emulator isn’t available for RetroArch but PicoDrive does play MS games and when I load 1 of the 2 current games it detects them as Megadrive g

[2017-04-16 01:17] GameDragon2k commented on #18
I can say for sure N64 isn't coming quite soon. That was just a preliminary test.

Still a bunch of memory issues.

[2017-04-16 10:55] grenade44 commented on #18
Ok, it's just nice to see new features coming to Retroachievements. I still have my n64 so I can wait lol.

Hopefully we can get master system achievements working with RA.

[2017-04-17 16:31] meleu commented on #18
I noticed the same thing in this weekend and saved some logs to send to @leiradel . But the kids demanded my attention... :)

Hey @leiradel , below you can see the log snippets. I noticed that they have different hashes (obviously, they are different ROM files), but RetroAchievements database thinks that the Master System version is the MegaDrive one.

**Sonic the Hedgehog (Master System):**
[code

[2017-04-17 19:10] leiradel commented on #18
Thanks for the report and for the logs.

Both hashes are being mapped to the game with ID 1, which is obviously wrong. I'll post to the Retro Achievements thread and see if we can clear this up.

[2017-04-17 20:23] meleu commented on #18
@leiradel can you post a link to the thread where I can report this kind of problem? The Wonderboy 3 (Master System) has the same problem.

[2017-04-17 20:28] leiradel commented on #18
@meleu it's http://retroachievements.org/viewtopic.php?t=4436

[2017-04-18 00:15] meleu commented on #18
@GameDragon2k RAchievs developers store in RA database some hashes to a specific games, a game can have several hashes linked to it. Someone mistakenly stored the Master System version of Sonic the Hedgehog as the MegaDrive version. Now whrn ReteoArch sends the MasterSystem Sonic hash, RetroAchievements thinks that the user is playing the MegaDrive Sonic and send the achievement list for this one.

[2017-04-18 00:58] GameDragon2k commented on #18
Ahh, is that all? Alright.

I'll fix that in a sec. Site is under heavy load at the moment.

[2017-04-18 16:54] leiradel commented on #18
@GameDragon2k the same thing happens with Wonder Boy III, the SMS hash (ID 10007) is linked to the MD (ID 6959).

[2017-04-18 18:19] leiradel commented on #18
@meleu which is the easiest cheevo in Sonic SMS? Even better, do you have a picodrive savegame near a Sonic SMS cheevo?

[2017-04-18 19:27] meleu commented on #18
I think it's clear Green Hill Zone. If wait 2 days I can provide you some savestates.

[2017-04-18 20:01] leiradel commented on #18
I think I got it. I was able to get Tastes like Neon (Complete 1 Special Stage) and Welcome to South Island (Complete Green Hill Zone) at the right times.

I'll submit a PR to the picodrive core.

[2017-04-18 20:12] leiradel commented on #18
@meleu I've just submitted a PR. If you want to try it before the PR is accepted, get my repo here: https://github.com/leiradel/picodrive

[2017-04-18 20:27] leiradel commented on #18
It's in.

[2017-04-18 20:38] GameDragon2k commented on #18
@leiradel Should be fixed now.

[2017-04-18 20:46] meleu commented on #18
@leiradel you rule!

Will do intensive tests in in a couple of days!

[2017-04-18 21:22] grenade44 commented on #18
@leiradel

Thanks alot managed to get the complete green hill zone achievements, I still suck at sonic tho.

[2017-04-18 22:32] leiradel commented on #18
@grenade44 @meleu let me know if you find any problems.

@GameDragon2k thanks. I wonder if all SMS games will be identified as MD games though.

[2017-04-19 18:33] meleu commented on #18
The spurious cheevos on Sonic don't happen anymore. I also got the Green Hill Zone and Bonus stage cheevos. Everything seems to be fine.

Good news, huh!

[2017-04-21 21:37] leiradel commented on #18
Can we close this issue?

@meleu can you update the Wiki, adding Picodrive as the "official" core to use for SMS games with achievements? Thanks!

[2017-04-21 22:15] grenade44 commented on #18
I think we can, will be testing over the weekend. I can always reopen if I fine an issue,

Retroachievements also supports sega cd now. I haven't had time to test with picodrive.

[2017-04-21 22:17] leiradel commented on #18
@grenade44 is there a Sega CD game with achievements that we can test?

[2017-04-21 22:21] meleu commented on #18
@leiradel

sure!

Also, I'll update the Nestopia status. Unfortunately it doesn't work with cheevos (maybe I'll fire an issue on its issue tracker).

Closing this issue. @grenade44 Feel free to reopen if you find some problem.

I'm also interested in see Sega CD cheevos. Is there any in retroachievements site?

[2017-04-21 22:21] #18 closed

[2017-04-21 23:04] grenade44 commented on #18
There's a sonic game but it's there looks like there 3 test achievements

http://retroachievements.org/Game/10062

[2017-04-21 23:14] grenade44 commented on #18
Here's a post saying that they support sega cd

http://retroachievements.org/viewtopic.php?t=4436&c=22441

[2017-04-21 23:15] meleu commented on #18
Great! Thanks.

I noticed that all 3 cheevos for Sonic CD are the same thing: Collect 100 rings. But I'm glad they are starting to work on it anyway!

[2017-04-21 23:50] leiradel commented on #18
Sonic CD is a two-files game: a CUE and a BIN. You have to start the game with the CUE, and it's this file RetroArch will use to calculate the hash.

Maybe the Retro Achievements emulator uses the BIN file to calculate the hash? Or maybe a different method?

[2017-05-21 23:23] grenade44 opened #19 "Centipede-GBC"
http://retroachievements.org/Game/4871

I have got issues unlocking "kill it now" achievement. http://retroachievements.org/Achievement/48040

I have played the game on the official emu and it unlocks fine but doesn't on retroarch, I've updated from source and still the same. When I get a chance tomorrow I can upload a save state.

[2017-05-21 23:24] grenade44 commented on #19
@leiradel

[2017-05-22 06:20] leiradel commented on #19
Oh, thanks! Let me know when you have a save.

[2017-05-22 21:03] grenade44 commented on #19
@leiradel hi, Ive uploaded the save state and created a PR https://github.com/meleu/RetroArch-problematic-cheevos/pull/20

[2017-05-22 21:24] meleu commented on #19
I confirm the issue here. I killed 10 spiders and the cheevo didn't pop. I didn't test in the official emulator, thou.

@grenade44 I think you used the same branch you used for the Super Mario Advance and the PR became a little messy. Nevermind, I'll add the savestate to the repo anyway. ;-) Thanks.

[2017-05-22 22:00] meleu commented on #12
I confirm this issue. Maybe @GameDragon2k can help us here.

I downloaded the ROM from the URL in comments here: http://retroachievements.org/Game/9175
Tried to launch with RetroArch/Snes9x2010 and the Achievements list didn't load.

The SNES (8Mb padding) hash is: `5e38f7bbe6cd3e864d74cfc3d7619cd8`.
The Generic (plain content) hash is: `5c8db832618e964828a1f312d4f7a31b`.

[2017-05-22 22:10] grenade44 commented on #19
@meleu sorry im still new to GitHub.

[2017-05-22 22:21] meleu commented on #19
@leiradel maybe it's worth to mention that the [Reach level 10 cheevo](http://retroachievements.org/Achievement/48050) is working fine. The bug is with the spiders. (pun intended) :P

[2017-05-23 15:54] grenade44 opened #21 "N64 achievements are up."
Hi,

There are 2 set of n64 achievements which are up. http://retroachievements.org/gameList.php?c=2

Haven't had a chance to test with any emulators yet.

[2017-05-23 16:32] GameDragon2k commented on #12
The checksum that RASnes9x gets for that same rom is b2f244e83988370cba85ce09d2ad51a2.

@leiradel I mentioned that SNES games hash was handled differently as of recently.
[This should be the line that was changed.](https://github.com/RetroAchievements/RASuite/blob/master/RASnes9x/win32/wsnes9x.cpp#L4159)

[2017-05-23 16:41] meleu commented on #21
do you know what is the "official unofficial emulator" for N64?

[2017-05-23 16:55] meleu commented on #16
@chewvodka sorry for the late reply. But I used the state you [linked above](http://s000.tinyupload.com/download.php?file_id=28872671044774510135&t=2887267104477451013580688) and the cheevo popped as expected.

I'm closing this issue, but if you retest and realize that it's still happening, feel free to reopen.

Thanks!

[2017-05-23 16:55] #16 closed

[2017-05-23 18:36] grenade44 commented on #21
Its project 64,

[2017-05-23 18:37] grenade44 commented on #21
I'm a developer on RA and have access to the beta.

[2017-05-23 19:42] leiradel commented on #12
@GameDragon2k Do you know what exactly that change does without having to go through the code?

[2017-05-24 13:26] GameDragon2k commented on #12
@leiradel From my understanding, it's supposed to convert the ROMSize into bytes (I believe the original format is Mb), although I'm unsure if it is accurate or not.

As far as I can tell, the [hashing process is the same](https://github.com/RetroAchievements/RASuite/blob/master/RA_Integration/RA_md5factory.cpp#L45).

[2017-05-25 23:16] meleu commented on #12
@GameDragon2k do you know what's the best way to contact the person responsible for those changes in hash handling? Is it @RetroAchievements user?

[2017-05-26 07:21] RetroAchievements commented on #12
Yep it's me - I'm still unsure about that line, it's supposed to just take the whole ROM - if it's doing anything else, it will need fixing

[2017-05-26 07:22] RetroAchievements commented on #12
@leiradel spent a while trying to make RetroArch do the same as RASnes, and it was tough going because it's awkwardly calculated. It really just ought to be the whole ROM. Worst case we can just read it from the file?

[2017-05-26 08:49] leiradel commented on #12
@RetroAchievements I lack context to understand what RASnes does now WRT the ROM hash. If it just uses the whole ROM, the fourth hash method that RetroArch employs should take care of that, but doesn't.

Maybe the new method rounds the ROM size to some boundary? This line confuses me:

[2017-05-26 09:12] RetroAchievements commented on #12
ROMSize is the size in Megabits, bit shifted to the right 7 times. I have no idea why. There's a similar line that I copied that from which appeared to get the actual ROM size in bytes. It could be wrong

[2017-05-26 14:06] leiradel commented on #12
So is the code below correct?

[code]

Isn't the actual file size available for use?

[2017-05-26 21:14] RetroAchievements commented on #12
I couldn't find it at the time :( if it can be found it should be used instead, definitely. That code looks accurate from what I can tell. My original line was a workaround that I borrowed from somewhere else in the project.

[2017-05-26 22:37] leiradel commented on #12
@meleu could you evaluate the MD5 of this ROM using an external utility?

[2017-05-26 23:43] meleu commented on #12
Sure. I'm at work now. Windows machine, but to avoid abstinence crisis I have Cygwin installed. :sweat_smile:

I used the `md5sum` tool from Cygwin:
[code]

As we can see in the @grenade44 's [RetroArch log above](https://github.com/meleu/RetroArch-problematic-cheevos/issues/12#issuecomment-266317790), RetroArch Generic (plain content) method gives the same hash as the `md5sum` tool.

[2017-05-27 09:10] grenade44 commented on #21
There is now 9 sets available, just wonder if there's any updates with bringing n64 achievements to retroarch?

[2017-05-27 09:55] meleu commented on #21
I don't know what is the ~~best~~ recommended core to play N64 on RetroArch...

[2017-05-27 13:14] leiradel commented on #12
Thanks @meleu

Ok, so RASnes is doing something different than a plain MD5 of the ROM.

I'll see if I can build it from source and step through the code, and understand how it's calculating the hash.

[2017-05-27 13:41] grenade44 commented on #21
I've tried one game on lr-Mupen64plus and doesn't seem to bad. Will have to test some more.

[2017-05-27 16:45] RetroAchievements commented on #12
If RASnes isn't getting the actual md5, it should be. Should be changed to
be accurate in the next RASnes release as a priority

On Sat, 27 May 2017, 14:14 Andre Leiradella, <notifications@github.com>
wrote:

[2017-05-27 22:42] leiradel commented on #12
@RetroAchievements so I'll consider this a RASnes bug, and that RetroArch is calculating the correct hash and doesn't need any change, ok?

[2017-05-27 22:48] meleu commented on #12
@RetroAchievements

Then can I ask to a cheevo developer to add the actual md5 hash for this game in RA database?

If yes, maybe @GameDragon2k could do it. :-)

[2017-05-28 12:44] leiradel commented on #19
Fala aí :)

Cara, será que saberia me dar um resumo do que está acontecendo no mundo
Retro Achievements e dos problemas atuais do Retro Arch com o suporte a ele?

Tem tanta coisa acontecendo que estou perdendo o fio da meada:

* Suporte a N64: já tem jogo com cheevos para N64?
* Cheevos problemáticos: lembro de uma issue com relação a isso no Git
Hub, e alguns relatos nos foruns do Retro Achieveme

[2017-05-28 13:22] grenade44 commented on #21
@leiradel

[2017-05-28 16:13] leiradel commented on #12
Also, I was testing N64 and the MD5 hash for Super Mario 64 calculated with `md5sum` is `165a9558b7539507e73e7afecffb200c`, but RetroArch fails to find a game with that hash.

Does the N64 Retro Achievements emulator also have a bug in the hash calculation?

[2017-05-28 16:53] GameDragon2k commented on #12
@leiradel The N64 hash seems to be accurate. Using Ocarina of Time 1.0 for reference:

This is the MD5 that Project64 produces.
![image](https://cloud.githubusercontent.com/assets/3225327/26530530/7b978118-43a4-11e7-9b98-ff72ab194ce2.png)

And this is the MD5 that is currently present on RA.
![image](https://cloud.githubusercontent.com/assets/3225327/26530532/8f9ad138-43a4-11e7-899a-9b7562f50bc0.p

[2017-05-28 18:05] leiradel commented on #12
Maybe my Super Mario 64 ROM is different? The game works ok though.On May 28, 2017 17:53, GameDragon2k <notifications@github.com> wrote:@leiradel The N64 hash seems to be accurate. Using Ocarina of Time 1.0 for reference:
This is the MD5 that Project64 produces.

And this is the MD5 that is currently present on RA.

—You are receiving this because you were mentioned.Reply to this email directly, v

[2017-05-28 18:06] leiradel commented on #12
Hm, maybe the hash is for the ZIP file, and not for the ROM?

[2017-05-28 19:54] meleu commented on #19
@leiradel I think your intention was to send a PM to my email. :rofl:
I'll answer you via email. :wink:

[2017-05-28 19:59] GameDragon2k commented on #12
Nah, it's the hash for the ROM itself. Just double checked.

[2017-05-28 20:23] leiradel commented on #12
Hm, I think RAN64 isn't using the plain ROM MD5:

[code]

[2017-05-28 20:44] RetroAchievements commented on #12
Ah - I can't yet comment on N64, but will make an attempt to fix the RASnes issue now

[2017-05-28 21:40] RetroAchievements commented on #12
Changed pushed - now using Memory.CalculatedSize rather than that odd formula, but still questionable for romhacks especially. It also looked as though that particular SNES ROM was very oddly linked to the wrong game, should now be fixed (unlink and re-load the ROM).
As for the sheer quantity of bad SNES roms, I'm looking into how I can provide a tool to manage this a little better.
Very intereste

[2017-05-28 21:50] GameDragon2k commented on #12
@leiradel Hmm I guess you're right. I simply used the MD5 that pj64 generated itself.

`//Calculate files MD5`
`m_MD5 = MD5((const unsigned char *)m_ROMImage, m_RomFileSize).hex_digest();`

[2017-05-29 07:00] meleu commented on #12
@GameDragon2k @leiradel @RetroAchievements
Just to keep things a little bit more organized, would you mind to continue the N64 related conversation on a more appropriate issue topic? Like this one: #21

@grenade44
Could you test if after loading "Wario Adventure" on RetroArch you get the right Achievements List?
Close this issue if everything is fine for you. Thanks. :wink:

[2017-05-29 08:53] grenade44 commented on #12
@meleu

Still doesn't load the achievement list.

[2017-05-30 04:43] meleu commented on #12
@RetroAchievements said in https://github.com/meleu/RetroArch-problematic-cheevos/issues/12#issuecomment-304463231

As far as I understood you agree that plain MD5 hashes is the way to go. Then can I ask to some developer (maybe @GameDragon2k ) to add the hash `5c8db832618e964828a1f312d4f7a31b` for the game [Wario Adventures (SNES)](http://retroachievements.org/Game/9175)?

This would allow RetroA

[2017-05-30 07:12] RetroAchievements commented on #12
If the correct hash is 5c8 then RASnes is still not calculating it correctly. Will investigate asap

[2017-05-30 07:40] meleu commented on #12
Yes, `5c8db832618e964828a1f312d4f7a31b` is the correct MD5 hash. You can check it with the `md5sum` tool in Linux.

[2017-05-30 12:27] RetroAchievements commented on #12
Ah. I have a feeling that RASnes is adjusting the checksum or ROM in memory, that could explain this discrepancy. Will investigate

[2017-05-30 21:25] RetroAchievements commented on #12
Finally. OK I've found the issue - that particular ROM had an additional header prepended to the ROM (hence a ROM size of 0x400200, or 512 bytes bigger than 4mb), as most homebrew will potentially have. RASnes9x was stripping the headers out before storing the remainder at ROM, which wasn't this case the same as the actual ROM file. I now store the original ROM alongside, in order to have somethin

[2017-05-30 22:49] meleu commented on #13
Can you provide the retroarch log, just like you did in #12 .

No need to paste here the full log, you can do this:

[code]

Thanks.

[2017-05-30 22:49] meleu commented on #12
That seems to be the same problem for [Super Mario World Bros (SNES)](http://retroachievements.org/Game/8811), as reported by @grenade44 in #13 .

[2017-05-30 23:00] RetroAchievements commented on #12
If so, that should also now be fixed:
https://i.imgur.com/VH7yTTN.png

[2017-05-30 23:08] grenade44 commented on #12
Achievement list now loads and I've unlocked 1 achievement, seems to be working now, thank you

[2017-05-30 23:11] meleu commented on #12
Closing this issue then.

@grenade44 could you check if your issue #13 was solved too? And close it if yes.

Thanks guys! You are awesome! :-)

[2017-05-30 23:11] #12 closed

[2017-05-31 06:13] grenade44 commented on #13
I checked this at the same time as wario adventure and it doesn't load the achievement list. I can provide a log in about 10hrs when I home again.

[2017-05-31 19:34] grenade44 commented on #13
@meleu sorry later than said but heres the log

RetroArch [INFO] :: CHEEVOS system RAM: 0xb5bad008 131072
RetroArch [INFO] :: CHEEVOS save RAM:   0xb5b8c008 2048
RetroArch [INFO] :: CHEEVOS video RAM:  0xba7f48 65536
RetroArch [INFO] :: CHEEVOS RTC:        0xb5d84a00 0
RetroArch [INFO] :: CHEEVOS testing SNES (8Mb padding).
RetroArch [INFO] :: CHEEVOS getting game id for hash 7c75f7f23ed3fc4ceb432

[2017-06-01 08:07] meleu commented on #13
Somebody solved it. Look my log:
[code]

:-)

[2017-06-01 08:07] #13 closed

[2017-06-01 08:11] meleu commented on #17
I confirm it happens on RetroArch, but I didn't test on RAGens...

[2017-06-01 09:58] grenade44 commented on #13
Ok cool, will test later. When I get a chance

[2017-06-01 10:21] meleu commented on #13
I confirmed with a screenshot also:
![captura de tela de 2017-06-01 05 05 02](https://cloud.githubusercontent.com/assets/8508804/26675575/de77496e-469a-11e7-975c-197f5320d52f.png)

[2017-06-01 11:58] grenade44 commented on #13
Lol, thanks. I will try this hack tonight if I get a chance lol

[2017-06-01 22:43] grenade44 commented on #13
That's strangle, the list doesn't load for me.

[2017-06-01 22:53] meleu commented on #13
I've just noticed that the hash in your log doesn't match mine. I downloaded the ROM from a link in comments.

[2017-06-02 06:05] grenade44 commented on #13
I redowned from the link and now it works, not sure what happened, that's were I got the rom from originally. Now it works for me :)

[2017-06-11 22:45] grenade44 commented on #21
@leiradel
Just wondering if you have managed to get retroachievements working with N64 yet?

[2017-06-11 22:46] leiradel commented on #21
Not yet :(

I'll take a look at it this week

[2017-07-09 11:47] grenade44 commented on #21
@leiradel was going to close this but I have got a couple of issues.

I updated retroarch and lr-mupen64plus. Achievements dont load in Golden eye or paper Mario but the list does load in Super Mario 64 but doesnt show any achievements as being unlocked. I had unlocked 1 via retroachievements offical emulator.

[2017-07-09 11:57] leiradel commented on #21
The games hashes have to be updated at Retro Achievements, the official emulator uses an internally computed hash and RetroArch uses the plain ROM hash. This will be incrementally solved as the new hashes are updated.

As for unlocked cheevos, the logic is exactly the same as for other platforms and I do see my unlocked N64 cheevos in RetroArch when it loads. Can you double check please?

[2017-07-09 11:57] grenade44 commented on #21
Goldeneye
[INFO] CHEEVOS got game id 0.
[INFO] CHEEVOS getting game id for hash 2a56a06a05a9dbf9e693325b503ab5b1
[INFO] CHEEVOS this game doesn't feature achievements.

Paper Mario
[INFO] CHEEVOS getting game id for hash 028c27ebef2cbe476236171cd294b0b0
[INFO] CHEEVOS got game id 0.
[INFO] CHEEVOS this game doesn't feature achievements.

Super Mario 64
[INFO] CHEEVOS got game id 10003.
[INFO] CHEE

[2017-07-09 11:59] grenade44 commented on #21
@leiradel Is there a way for me to help update the hashes?

[2017-07-09 12:04] leiradel commented on #21
So the unlocked cheevos are showing like so in the UI right?

I'm not sure how to update the hashes, maybe @GameDragon2k can give you a hand here.

[2017-07-09 12:08] grenade44 commented on #21
No its showing as locked

[2017-07-09 14:08] meleu commented on #19
Played Centipede recently and it still have this issue.

https://github.com/meleu/RetroArch-problematic-cheevos/tree/master/Centipede-GBC

[2017-07-09 17:35] leiradel commented on #19
Thanks for the report, this cheevo was using addresses in the Echo RAM, so I've patched them to be inside the Work RAM bounds.

[2017-07-09 17:36] leiradel commented on #19
Fixed in https://github.com/libretro/RetroArch/pull/5158

[2017-07-09 22:09] leiradel commented on #21
**A new journey** is showing as locked? It shows as unlocked for me:
![is1](https://user-images.githubusercontent.com/357536/27997987-97dee050-64fb-11e7-92fb-7bf09b3ce18d.png)
![is2](https://user-images.githubusercontent.com/357536/27997989-9b848002-64fb-11e7-8673-91b8fe0f7d18.png)
Can you post a verbose log with `|grep CHEEVOS`? Thanks.

[2017-07-09 22:29] leiradel commented on #17
I'm not getting cheevos for this game, maybe there's a problem with the hash?

[code]

[2017-07-10 11:20] meleu commented on #19
Yeah! It's working now! Thanks @leiradel ! And thanks @grenade44 for the original report!

Closing the issue.

[2017-07-10 11:20] #19 closed

[2017-07-10 11:21] grenade44 commented on #19
Thanks again @leiradel, will update when I'm home.

[2017-07-10 14:30] meleu commented on #17
@leiradel I tried again and realized that it's a "false positive" bug. I started the game and was watching the demo and then my youngest kid woke up. I left the game in the demo and went to give attention to the kid. Later I came back to the computer and look at the logs:

[code]

I earned a cheevo for the first die and after earned the cheevo for watching the demo. Therefore the demo you have to

[2017-07-10 14:30] #17 closed

[2017-07-10 16:19] leiradel commented on #17
Great, but then **He's Dead, Jim** shouldn't be awarded, right? Can someone check the behavior in the official emulator, and open another issue if it's not awarded on it? Thanks.

[2017-07-10 16:33] meleu commented on #17
The description of [He's Dead Jim](http://retroachievements.org/Achievement/13296) says "Die for the first time". I think everything is fine.

That little story about my morning was told to say:
1. I started the game and didn't touch any input, so I watched the entire demo **after starting the game** (press start on title screen), and didn't get the [Attract Mode](http://retroachievements.org/Achi

[2017-07-10 16:38] leiradel commented on #17
Ah, ok, makes sense :)

[2017-07-10 21:42] grenade44 commented on #21
@leiradel Ive worked out the issue, when I played the offical emulator I didnt have hardcore on but I do have it turned on my Retorpie/RetroArch machine. so when it loaded it was reading the hardcore achievement number and I was checking the hardcore achievement list. It works fine.

Also the hashes seemed to have been updated. goldeneye now works.

Going to close, Will open a new issue if i find

[2017-07-10 21:42] #21 closed

[2017-07-11 10:23] meleu commented on #21
FYI: I've updated the cheevos wiki with info about N64.
https://github.com/libretro/RetroArch/wiki/RetroAchievements

[2017-08-08 00:08] WayneMario opened #22 "Pilotwings N64 (Paralell Core)"
Just wondering if there is something wrong with the class A cheevos on retroarch as got perfect on class A hang gliding and gold on rocket belt but nothing unlocked.  The cheevos for perfect scores on the tutorials unlocked fine though.

[2017-08-08 00:18] meleu commented on #22
Thanks for the report but this issue tracker is for reporting **cheevos problems when running in RetroArch AND NO PROBLEMS IN OFFICIAL EMULATORS**.

If you really want that somebody take a look into the issue you reported, please assure that the problem **doesn't happen hwn playing in official emulators**.

Also, you have to detail the steps to reproduce your issue. Post links to the game and the

[2017-08-08 00:19] #22 closed

[2017-08-08 23:50] WayneMario opened #23 "Pilotwings N64"
I have tested the following achievements in RAP64 0.54 and they work correctly, however in retroarch using either the mupen or parallel core they do not unlock:
To Bed, Bath, and Infinity
 http://retroachievements.org/Achievement/49897
Rockets Explode - But Not Today
http://retroachievements.org/Achievement/49894
I Just Lit A Rocket
http://retroachievements.org/Achievement/49891
Stuck Waiting At L

[2017-08-09 00:49] meleu commented on #23
@WayneMario could you confirm if you reset the cheevos before trying on RetroArch?

I'm asking because looks like your username at RetroAchievements is [Wiiner](http://retroachievements.org/User/Wiiner) and this user has those achievements unlocked. You can not unlock an already unlocked cheevo.

[2017-08-09 00:51] meleu commented on #23
@grenade44 @chewvodka sorry for tagging you guys, but you are the fellows I know that play N64. Could you confirm the issue here?

Thanks.

[2017-08-09 01:36] WayneMario commented on #23
Well i tried them before but I will make a new account and try them again

[2017-08-09 02:08] WayneMario commented on #23
Tried it again on retroarch on a new account "RetroWiiner" and the others unlocked again however these ones did not:

Stuck Waiting At Luggage Return
http://retroachievements.org/Achievement/49903
What's An Airport?
http://retroachievements.org/Achievement/49900
Rockets Explode - But Not Today
http://retroachievements.org/Achievement/49894
I Just Lit A Rocket
http://retroachievements.org/Achieveme

[2017-08-09 03:02] meleu commented on #23
What would be of a big help is a savestate right before complete the condition to trigger the cheevo.

[2017-08-09 03:03] chewvodka commented on #23
I've actually not got N64 quite setup in my RetroPie just yet.  Was waiting on a replacement charging cable for my controller.  If this isn't solved or further tested my next week, I'll try to duplicate while on vacation.

[2017-08-09 06:24] grenade44 commented on #23
Never played this game before will check it out 2night if I have a spare moment. I'm not happy with the performance of n64 on my pi 3, I mostly use the official emulators for n64.

[2017-08-09 13:48] WayneMario commented on #23
So here is a save state on the mupen core that should unlock:
To Bed, Bath, and Infinity
http://retroachievements.org/Achievement/49897
Rockets Explode - But Not Today
http://retroachievements.org/Achievement/49894
I Just Lit A Rocket
http://retroachievements.org/Achievement/49891

[Pilotwings 64 (U) [!].zip](https://github.com/meleu/RetroArch-problematic-cheevos/files/1211596/Pilotwings.64.U.zip)

[2017-08-09 18:54] grenade44 commented on #23
This game is unplayable for me, your savestate need to be saved just before you land not while in the points menu. Can test if fix your save state

[2017-08-09 23:07] WayneMario commented on #23
OK here is a new one (in the parallel core). Load it from the file select screen as it might not load otherwise. also you may need to use b to descend slowly enough to max out the impact score
[Pilotwings 64 (U) [!].zip]

[2017-08-10 19:43] grenade44 commented on #23
@WayneMario Thank for the save state, i can confirm that there is a problem with the achievements for this game, I got a perfect/full points and none of the above achievements unlocked. BTW im testing with user name retroarch44. hopefully @meleu & @leiradel will be able to fix the issue.

[2017-08-10 21:49] WayneMario commented on #23
To my knowledge it happens with both mupen and parallel and I think it may happen with all the class B, A and pilot cheevos, probably cause their calculated the same way

[2017-08-11 16:35] GameDragon2k commented on #23
@leiradel A quick glance at all of achievements shows that they're all using the "Add Source" function that's currently exclusive to N64. So there could be an issue with that.

[2017-08-11 19:53] leiradel commented on #23
I'll take a look

[2017-08-15 20:11] leiradel commented on #23
The save state doesn't work for me

[2017-08-15 20:13] leiradel commented on #23
Using core Mupen64Plus OpenGL 2.5 9b01671

[2017-08-16 01:15] WayneMario commented on #23
I made that most recent state in the parallel core it didn't work for me in mupen

[2017-08-16 19:46] leiradel commented on #23
It doesn't work with Parallel either, using ParaLLEl N64 2.0-rc2 29aaf3a. Maybe I'm missing something.

[2017-08-16 20:37] grenade44 commented on #23
When I tested I just downed core from within retroarch. I did have to rename the save state so it matched my rom name.

[2017-08-16 20:38] chewvodka commented on #23
Achievements will only work with RetroArch.  If you're using a standalone emulator, that's why it's not working.  I think the only we have that works is the lr-mupen64 one.

[2017-08-16 20:39] leiradel commented on #23
Mine also came from the Core Updater.

I did that too. Maybe there's some specific configuration that is needed to make it work?

[2017-08-16 20:41] leiradel commented on #23
Both cores support achievements, bit the implementation has a bug.

[2017-08-16 21:21] grenade44 commented on #23
thinking about it i had to waited until the game was past the title screen as it crashed retroarch

[2017-08-16 22:14] leiradel commented on #23
I'm not getting crashes, loading the state just doesn't do anything.

[2017-08-17 00:01] WayneMario commented on #23
@leiradel Ok here is one made in Mupen64Plus OpenGL 2.5 9b01671.  Hopefully it works for you
[Pilotwings 64 (U) [!].zip](https://github.com/meleu/RetroArch-problematic-cheevos/files/1229788/Pilotwings.64.U.zip)

[2017-08-17 18:11] leiradel commented on #23
@WayneMario thanks, but it doesn't work either.

[2017-08-17 18:20] leiradel commented on #23
Ok, I knew I was doing something wrong. I've put the state in the correct folder and now it works ;)

I'll see what's wrong.

[2017-08-17 20:17] leiradel commented on #23
I could find two lines of code that were different from the RAP64 implementation. Fixing them didn't fix these cheevos though.

Maybe I'm doing something wrong, could someone compile RetroArch from source and double check? https://github.com/leiradel/RetroArch

[2017-08-17 20:59] meleu commented on #23
@leiradel I will.

[2017-08-25 21:52] leiradel opened #24 "Sonic The Hedgehog (USA, Europe) (MD)"
I got this report from an user in Discord:

NPlumb - Today at 12:56 PM
hey I was told you made the retroachievments connection work, thanks for that! Having a few issues with some games though, here is sonic the hedgehog on genesis plus gx core as soon as you jump on the button it should unlock the under-achiever achievment however it does not trigger here's my save state <uploaded here> not sure

[2017-08-25 22:14] meleu commented on #24
Sorry but I'm a little confused with this report. Am I right if I say that the user is saying that he/she wasn't able to get [Under-achiever](http://retroachievements.org/Achievement/38) and [Close Shave](http://retroachievements.org/Achievement/25) registered?

[2017-08-25 22:21] meleu commented on #24
@Cabrunco you are a Sonic master. Could you please update your RetroArch and then try to get those cheevos again?

[2017-08-25 22:22] leiradel commented on #24
No, this report is only for Under-achiever.

[2017-08-26 16:16] leiradel commented on #24
I've rewound cheevos.c back to this commit: https://github.com/leiradel/RetroArch/commit/0c8ee93e3e44aecd26f485562e53ed14b9d10012
This was just before a big change to the code to implement support for leaderboards. I got these achievements:

* That Was Easy (Complete the first act in Green Hill Zone) right after the state is loaded
* The Floor is Lava (Get to Marble Zone!) just as the next level b

[2017-08-26 16:18] leiradel commented on #23
@meleu, I've done some changes to the code, please pull them before testing the cheevos please.

[2017-08-26 17:05] meleu commented on #24
I tried to load that state on my Android / RetroArch 1.6.7 / Genesis Plus GX core and once the state is loaded RetroArch crashes. Will try again when I get home.

[2017-08-26 17:06] meleu commented on #23
OK, will try it tonight. ;-)

[2017-08-27 01:26] meleu commented on #23
@leiradel I've build your master branch and noticed that its version is 1.6.5 (not a problem, just noticed it). I was able to load the state @WayneMario posted [here](https://github.com/meleu/RetroArch-problematic-cheevos/issues/23#issuecomment-322931960), but once the state is loaded I didn't get any cheevo.

Not sure if there's more to do. I just loaded and it looks like the end of a stage...

[2017-08-27 02:28] meleu commented on #24
Loaded that state on my Linux / @leiradel's master branch of RetroArch (tagged as 1.6.5) / Genesis Plus GX, and when press that I only get [The Floor is Lava](http://retroachievements.org/Achievement/16).

Reset that cheevo on my RA settings and did the same test with the bleeding edge RetroArch (https://github.com/libretro/RetroArch/commit/85e2a11845dd704993083d26c2c12e092d55d0c8): same result.

[2017-08-27 17:19] leiradel commented on #24
Did you manage to get the problematic achievement using the official emulator?

[2017-08-27 17:21] leiradel commented on #23
@WayneMario can you confirm that the save state you provided was taken just *before* the achievement would be awarded, and not just after?

[2017-08-27 17:38] WayneMario commented on #23
@leiradel In RAP64 the achievement would unlock at the medal awarded screen so it should unlock them

[2017-08-27 17:46] leiradel commented on #23
@meleu do you know this screen? @WayneWario can you post a screen shot of that screen?

[2017-08-27 17:51] WayneMario commented on #23
will do

[2017-08-27 17:59] WayneMario commented on #23
These may differ as I used a different challenge and got a different score but they should be very similar
This first:
![pilotwings 64 u -170827-185429](https://user-images.githubusercontent.com/15003481/29752622-b65708a8-8b59-11e7-9c60-c98b439946bd.png)
followed by this:
![pilotwings 64 u -170827-185449](https://user-images.githubusercontent.com/15003481/29752624-c2531bba-8b59-11e7-84c1-953f96682

[2017-08-27 21:30] meleu commented on #24
Unfortunately it's a challenging cheevo for me... :(
Not so easy to get and check if it's working on other emulators/cores...

[2017-08-27 23:31] meleu commented on #23
Damn'it! Sorry guys, but I ~~hate~~ don't like N64 controllers!

When I load that state I see this screen:

![pilotwings 64 usa -170827-202209](https://user-images.githubusercontent.com/8508804/29754966-64240d44-8b66-11e7-909c-92b1f6b365a5.png)

But as I don't have a controller with analogs I'm unable to press down and choose Next! :angry:

Hey @WayneMario would you be kind enough to load your own

[2017-08-27 23:34] leiradel commented on #23
He'd need the build with the fixes. Can't you remap the controller to make it work?

[2017-08-27 23:53] meleu commented on #23
OK, I managed to get borrowed a PlayStation 2 controller.

Loaded the state, choose Next and no cheevos... :(

![pilotwings 64 usa -170827-204831](https://user-images.githubusercontent.com/8508804/29755149-b958a402-8b69-11e7-9699-06713c77ed29.png)

![pilotwings 64 usa -170827-204856](https://user-images.githubusercontent.com/8508804/29755151-c1a4e42c-8b69-11e7-9896-da0657ec81d1.png)

[2017-08-28 17:46] chewvodka opened #25 "Solitaire-NES"
Seems like an easy enough set of cheevos.  But they don't pop in RetroArch.
http://retroachievements.org/Game/6869

No real reason to have a save state file, but since it's an unlicensed rom, I can upload the rom itself.  So 2 of them should be easy to pop right away,,

- Change of Scenery (http://retroachievements.org/Achievement/37533)
Just gotta change the colors/etc.
- You were close... (http:

[2017-08-28 18:41] meleu commented on #25
Did you test those cheevos with RANes?

Remember the message you saw when opening an issue here:

Before opening an issue, keep in mind that this issue tracker is for reporting **cheevos problems when running in RetroArch AND NO PROBLEMS IN OFFICIAL RetroAchievements EMULATORS**.

In order to make somebody take a look into the issue you're reporting, please **assure that the problem doesn't happen

[2017-08-28 19:10] chewvodka commented on #25
No, I only  use Retroarch.  I assume they work fine in the official emulator because when you look at the game on the RetroAchievements website, they have been earned by others.

[2017-08-29 00:24] grenade44 commented on #25
Looking at the comments on the game page looks like there is a lot of issues with this game, I will check out the game tomorrow in RANes. Looks like a easy complete if they do work lol

[2017-08-29 00:27] chewvodka commented on #25
Yeah that's why I started playing it.  :D

[2017-08-29 13:04] leiradel commented on #24
@meleu what about your Sonic-aficionado friend? Is he able to check this cheevo in RANes without too much trouble?

[2017-08-29 13:09] meleu commented on #24
Looks like he is a little busy. I'll try it myself. Should not be so difficult using savestates. :-)

[2017-08-29 14:37] leiradel commented on #24
Thanks, I appreciate.

[2017-09-02 22:58] chashodges opened #26 "Tetris - NES"
http://retroachievements.org/Achievement/11322

This achievement does not seem to work for me in Retroarch. I have tried all compatible NES cores with not luck, as well as testing various ROM dumps. All other achievements have unlocked without issues using FCE and the (!) dump.

For the 'Shhh' achievement, you have to watch the rolling demo from the title screen, wait until the CPU makes a Tetris

[2017-09-03 00:04] meleu commented on #26
There's a comment on that cheevo's page saying: "Works fine in retroarch 1.6 with fceumm". Maybe you're not doing the right thing. The cheevo looks like a riddle...

[2017-09-03 06:48] chashodges commented on #26
I've tried multiple times and that method was corroborated by others. I did reach out to that user a while back but didn't get a response.

[2017-09-03 08:46] chashodges commented on #26
Tried again this morning - managed to get it by loading Game A after the demo trick not Game B. Sorry!

Please mark this issue as solved / closed.

[2017-09-03 13:16] #26 closed

[2017-09-03 13:17] meleu commented on #26
Thanks for verifying that! :-)

[2017-09-17 15:09] SuperMeatBro opened #27 "Donkey Kong NES - IT'S A MEE"
http://retroachievements.org/Achievement/3394 That achievement doesnt trigger on Retroarch with Fceumm and Nestopia core (last revisions)
it triggered at 20 000 points on RaNes like it should.

[2017-09-17 21:26] meleu commented on #27
Will try to take a look into it later. But just FYI, RetroAchievements don't work with Nestopia.

[2017-09-18 02:07] SuperMeatBro commented on #27
Oh, now i remember why i used Fceumm.

[2017-10-01 20:27] meleu commented on #27
I've just got this cheevo on my Android/Retroarch/fceumm:

Closing this issue.

[2017-10-01 20:27] #27 closed

[2017-10-01 21:06] meleu commented on #25
@chewvodka
[Change of Scenery](http://retroachievements.org/Achievement/37533) worked fine for me.

I'm starting to believe it's a false positive report

Gonna try the other cheevos.

[2017-10-01 21:42] meleu commented on #25
I've got the other cheevos as well.

Closing this issue.

[2017-10-01 21:42] #25 closed

[2017-10-02 00:29] chewvodka commented on #25
Shouldn't it still be open if it's still an issue for me on the RetroPie version?  It's a problematic cheevo for me, in RetroArch.  That's why I reported it.  '\shrug/'

[2017-10-02 00:52] meleu commented on #25
Sorry bro, but we use this issue tracker to list stuff that we need to take a look in order to make RetroArch more and more compatible with RetroAchievements. Since it's working on an updated RetroArch/fceumm, the problem is on your end.

The issue being closed is a sign for you to think "oh! I need to update my RetroArch/fceumm and try again."

If you need some help you can continue the conversat

[2017-10-02 01:09] chewvodka commented on #25
No worries.  :)  I'll give updating a go.

[2017-10-10 12:00] meleu opened #28 "Crystalis (NES) - problems with the level cheevos"
@leiradel
I've found a problem in [Crystalis (NES)](http://retroachievements.org/Game/1636). I reached the level 2 and the related cheevo didn't pop up ([Ding!](http://retroachievements.org/Achievement/8022)). Playing with fceumm.

I've tested in RANes and the cheevo works fine.

Here is a savestate (saved with RetroArch/fceumm) to let you check (you just have to kill that blue thing and you'll le

[2017-10-13 23:32] leiradel commented on #28
Is it too much trouble if I ask you to try with a different core?

[2017-10-13 23:34] meleu commented on #28
Not really. You mean QuickNES, right? I only know fceumm, QuickNES and Nestopia, and AFAIK Nestopia doesn't support cheevos.

[2017-10-13 23:35] leiradel commented on #28
That's correct.

[2017-10-13 23:41] leiradel commented on #28
If you can make a savegame just before the achievement I appreciate. The FCEUmm savegame isn't working.

[2017-10-13 23:50] meleu commented on #28
I'll try it soon. I'm at work now but I think I can try it on my PS Vita when things go calmer :-). Probably in an hour or 2. If you are bored and with free time and wanna try it, it's not very hard time consuming:

1. start the game
2. go left and you'll be in a village.
3. go up and enter in the first house, the guy will give you some money ($100).
4. go down to the weapon store and buy a sword.

[2017-10-14 00:05] meleu commented on #28
@leiradel

Not sure it it's the case, but... The save state I linked above is zipped and you need to unzip it. I did it to attach it in the issue comment. 😅

[2017-10-14 00:55] meleu commented on #28
Ooops! My instructions to get the sword were wrong! Sorry, I've edited that post.

Anyway, I'm trying to generate a savestate right now. ;-)

[2017-10-14 01:20] meleu commented on #28
@leiradel
weird... I've just tried to reproduce the issue on Android/RetroArch/fceumm and it worked fine.

The problem I reported in the OP was on PS Vita/RetroArch/fceumm (sorry, I forgot to mention it was on PS Vita). I'll try on this platform again a report back.

[2017-10-16 05:26] meleu commented on #28
solved in https://github.com/libretro/RetroArch/pull/5555

[2017-10-16 05:26] #28 closed

[2017-10-16 09:08] retro-wertz opened #29 "[NES]: Unknown operator S in Gimmik(U) and Mr.Gimmik(EU)"
Permission to hijack this repo, since i dont know of a place for retroachievement issues for retroarch :D

Mr.Gimmik and Gimmik will show **.[ERROR] [CHEEVOS]: Unknown operator S.** multiple times. Not sure if this can be replicated in standalone ranesas I dont have windows installed.

[2017-10-16 09:19] leiradel commented on #29
Thanks for the report, this looks like an issue with the cheevos implementation in RetroArch. Can you add a link to the games' pages in Retro Achievements?

[2017-10-16 09:27] retro-wertz commented on #29
here: http://retroachievements.org/Game/2139

[2017-10-16 10:03] meleu commented on #29
I confirm that. Here is the `grep CHEEVO` of the log:

[code]

[2017-10-17 22:16] meleu commented on #24
Hey @muskn could please try to get the [Under-achiever](http://retroachievements.org/Achievement/38) in RAGens and report here if it works fine for you?

@leiradel do you need something more? (besides the confirmation that cheevo works on RAGens)

[2017-10-17 22:52] muskn commented on #24
Hey, guys.

I can do that. I'll start working on it tomorrow morning after my uni exam. I'll let you know what happens.

[2017-10-18 01:04] muskn commented on #24
![ra sanic](https://user-images.githubusercontent.com/32884324/31696295-047e546c-b3fc-11e7-8f47-802aa9843f5d.png)

It unlocked here. A curious fact about it is that I made a savestate right before stage finish and I didn't get the cheevo by loadstating.

[2017-10-18 03:04] GameDragon2k opened #30 "Some broken N64 achievements"
@meleu suggested I make a new issue for this.  This is somewhat an extension of issue #23 .

As of now, any achievements that uses the flag "Add Source, Sub Source, or Add Hits" do not work on RetroArch. Two notable games that make use of these flags are Star Fox 64 and Pilotwings 64. These flags are currently exclusive to N64. All achievements that do not have these flags work fine to my knowledg

[2017-10-18 03:37] meleu commented on #24
@muskn you can't unlock an unlocked cheevo :)

Huge thanks for confirming that! ;-)

Could you upload the savestate here? It needs to be zipped to attach in a comment...

[2017-10-18 03:41] muskn commented on #24
[Sanic1 RAGens Save.zip](https://github.com/meleu/RetroArch-problematic-cheevos/files/1393337/Sanic1.RAGens.Save.zip)

[2017-10-18 11:50] leiradel commented on #24
Thanks guys, I'll continue investigating.

[2017-10-18 11:56] leiradel commented on #30
Yeah, I've already compared the implementations and they look equivalent. I'm starting to think there may be something wrong with the parser (see https://github.com/meleu/RetroArch-problematic-cheevos/issues/29).

[2017-10-18 17:51] GameDragon2k commented on #29
The **S** element represents an Alt Group. In the case of Gimmick, there are 5 achievements that use alt groups.

http://retroachievements.org/Achievement/4025
http://retroachievements.org/Achievement/4026
http://retroachievements.org/Achievement/4027
http://retroachievements.org/Achievement/27625
http://retroachievements.org/Achievement/29649

[2017-10-21 11:25] leiradel commented on #29
I'm working on this right now, can anyone provide me with a savestate just before one of the cheevos listed by @GameDragon2k while I debug the parser? Any NES core compatible with RetroAchievements will do. Thanks.

[2017-10-21 11:49] leiradel commented on #29
Hm, I can't retro it. The log doesn't show any parsing error messages, nor a breakpoint in the line where the message is generated hits.

[code]

[2017-10-21 12:02] retro-wertz commented on #29
i do not see the Unknown operator S anymore, was that an event?

On Sat, Oct 21, 2017 at 7:25 PM, Andre Leiradella <notifications@github.com>
wrote:

[2017-10-21 12:05] leiradel commented on #29
Maybe there was a glitch somewhere, I dunno. Are the cheevos listed by @GameDragon2k working?

[2017-10-21 12:09] retro-wertz commented on #29
verifying, but i think the cheevos is inconsistent. (pink fireball)

[2017-10-21 12:21] retro-wertz commented on #29
[Gimmick! (Japan)(PinkFireball).state.tar.gz](https://github.com/meleu/RetroArch-problematic-cheevos/files/1404080/Gimmick.Japan.PinkFireball.state.tar.gz)
 Here is pink fireball cheevos. not sure why, but you need to pick that "thing" twice. pick it once, then die and pick it again.

[2017-10-21 12:22] leiradel commented on #29
Is the behavior the same in the official emulator?

---- On Sat, 21 Oct 2017 13:21:20 +0100 notifications@github.com wrote ----

Gimmick! (Japan)(PinkFireball).state.tar.gz
Here is pink fireball cheevos. not sure why, but you need to pick that "thing" twice. pick it once, then die and pick it again.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, o

[2017-10-21 12:28] retro-wertz commented on #29
not using windows atm, so not sure.

[2017-10-21 18:00] meleu commented on #29
I'm not getting those messages anymore.

I talked with @GameDragon2k and he said that he reuploaded those cheevos that use the Alt group.

Curiously this was enough to "fix" those messages.

@retro-wertz I'm closing this issue, but feel free to reopen if you feel that the problem isn't solved on your end.

[2017-10-21 18:00] #29 closed

[2017-10-21 18:08] leiradel commented on #29
I'd like to confirm if what @retro-wertz said about having to pick up the pink fireball twice to trigger the cheevo also happens in the official emulator though. Maybe it should stay opened until then?

[2017-10-22 14:48] meleu commented on #29
I got that pink fireball with no issues. Got only once and it was enough to trigger. I'll test it again and if it happens I reopen this.

[2017-10-23 11:03] meleu commented on #29
Jumping to conclusions: @leiradel no need to worry about RetroArch incompatibilities with this game. ;-)

Looks like some Gimmick cheevos are a little buggy...

I said in my previous post that I got the Pink Fireball only once and it works, but I died on the first enemies (I mean, I got the item only once, but it was after loosing one life).

I've made more tests and when I got the Pink Fireball t

[2017-11-24 21:11] GameDragon2k commented on #23
I took another look at these achievements and they seem to be working fine now, including the savestate @WayneMario posted.

**Shiver Me Hang Gliders**
**You're the Frosty Wind Beneath My Wings**
**When Ever-Frost Freezes Over**
**I Just Lit A Rocket**
**Rockets Explode - But Not Today**
**To Bed, Bath, and Infinity**

All of these achievements worked for me on the first attempt.

![image](https:/

[2017-11-24 21:15] GameDragon2k commented on #30
Add Source implementation seems to be fine now. Once I verify Add Hits is working, I'll close this issue.

[2017-11-24 21:22] meleu commented on #30
Really cool! But what changed? Were there any related changes in the core or RetroArch?

[2017-11-24 21:22] meleu commented on #23
That's awesome! Will test it when I get home and then close this issue. ;-)

[2017-11-28 04:35] LootusMaximus opened #31 "Mortal kombat 2 gameboy 1 problem"
Before opening an issue, keep in mind that this issue tracker is for reporting **cheevos problems when running in RetroArch AND NO PROBLEMS IN OFFICIAL RetroAchievements EMULATORS**.

In order to make somebody take a look into the issue you're reporting, please assure that the problem **doesn't happen when playing in official emulators**.

Also, you have to detail the steps to reproduce your issue

[2017-11-28 04:38] LootusMaximus commented on #31
http://retroachievements.org/Achievement/54568 this one doesnt appear to work on retroarch. U can do it easily by starting on easy and crouching in the corner

[2017-11-28 04:41] meleu commented on #31
Have you tested it on the official emulator?

[2017-11-28 17:44] LootusMaximus commented on #31
No but i talked to dev and a user who got it and it should be working

[2017-11-28 17:45] LootusMaximus commented on #31
I only have android or i would

[2017-11-29 07:23] LootusMaximus commented on #31
Ill just add one more thing. This is almost like a glitch. They must have not intended for both fighters to end a round with full health. Because it instantly ends the game "game over" and u cant even use a continue. Even its the first round of fight.

[2017-11-29 14:35] LootusMaximus commented on #31
Could someone help me confirm this? Its very easy to do. Just start 1st round on easy and back up to edge of screen and duck. They will punch over your head if its easy first fight.

[2017-11-29 20:14] LootusMaximus commented on #31
Also im limited to gambatte on android. Even tho site says sameboy should be on android

[2017-11-30 16:02] meleu commented on #23
@WayneMario I'm closing this issue. Update your RetroArch **and** the N64 core you're using and test it again, please.

[2017-11-30 16:02] #23 closed

[2017-11-30 16:13] meleu commented on #31
@leiradel I confirm this cheevo isn't working on RetroArch/gambatte.

Here's a savestate:
[Mortal Kombat II (USA, Europe).state.zip](https://github.com/meleu/RetroArch-problematic-cheevos/files/1518533/Mortal.Kombat.II.USA.Europe.state.zip)

In this state the game is paused. Keep pressing down before unpause the game and wait for the time out. The cheevo should pop after getting the game over.

I

[2017-12-09 00:25] retro-wertz opened #32 "nonstop cheevos retrying request"
I decided to post this issue here since this can happen because of unusual way of loading rom. the problem is it keeps spamming this:
[code]

how to replicate:
1. find a pc-engine/tg-16 bios name games Express CD.
   crc 51a12d90
2. load this bios in supergrafx(beetle sgx) (its what i am currently using) or pc-engine/pce-cd. extension must be .pce so it can be seen in browser at least.
3. check th

[2017-12-11 01:15] meleu commented on #24
@leiradel a fellow from RetroPie community (@chewvodka) unlocked this the Under Archiver playing on RetroPie!

Also, now that I learned how to develop cheevos I can see that loading the state will never make that cheevo unlock. You need to pass through all first 3 stages...

I'm starting to believe that it's false positive report...

[2017-12-13 20:21] leiradel commented on #24
@meleu cool. Can we find someone willing to play through these stages and try to unlock this achievement?

[2017-12-13 20:24] leiradel commented on #32
I believe it's related to the downloading of cheevo badges. If wait long enough, does it eventually stop?

[2017-12-14 00:23] retro-wertz commented on #32
no, it does not stop. and this does not seem to be caused alone by loading the bios since it happened while i was loading some hacked burger time - nes game during one of my test (another issue)

[2018-01-13 01:30] bbbb4444 opened #33 "Pocky & Rocky (USA)"
http://retroachievements.org/Game/1103
Using 1.7.0 and 1/12/2018 nightly. I can't earn achievements in this game. When loaded, OSD only says I logged in successfully and doesn't say the achievement progress. And the log only says
[code]
All the achievements are there in the pause menu achievement list but cog icons are displayed instead of the badges. Achievements work in RAsnes9x.

[2018-01-13 01:50] meleu commented on #33
what core are you using?

[2018-01-13 01:54] bbbb4444 commented on #33
Bsnes balanced. Tried snes9x and snes9x 2010 and it was no different.

[2018-01-13 03:23] meleu commented on #30
closing this issue.

@GameDragon2k feel free to reopen if you think it deserves to be opened.

[2018-01-13 03:23] #30 closed

[2018-01-13 03:29] meleu commented on #32
@retro-wertz I'm trying to cleanup this issue tracker.

I'm closing this issue but could you please try to reproduce the issue in the current version of RetroArch and reopen this issue if the problem persists?

Thanks in advance.

---

By the way, leiradel wasn't talking about loading the BIOS, but loading the **badges**. He was refering to a new feature related to cheevos where, if enabled, makes

[2018-01-13 03:29] #32 closed

[2018-08-26 22:51] chewvodka opened #34 "NeoGeo Pocket Color System"
Tried playing a game:
https://retroachievements.org/game/11719
I was pleasantly surprised to see it offered cheevos.  However, the system doesn't seem to be working in RetroArch.  This is mentioned in the game's comments, so it's a known issue.  Just putting up the "issue" so there is an official thread starting for it.  :)

[2018-08-27 09:42] leiradel commented on #34
It seems it was fixed in RetroArch 1.7.2, could you try and see if it works?

[2018-08-28 01:32] chewvodka commented on #34
I'm already on 1.7.3.  The first cheevo should have popped when I got 208 rings..
https://retroachievements.org/Achievement/58303

I just tried again, I'm at 168 and no Cheevo.  I wonder if my core is out of date?  It reads:
1.7.3 - Mednafen NeoPop v0.9.36.1 ab5d1d5

I don't have one now, but I can try to create a savestate for you you it will help.  I just need to remember how.  :)

[2018-08-29 00:17] chewvodka commented on #34
Yup looks like that was the cause.  Updated from source.. now have it working.
1.7.3 - Mednafen NeoPop v0.9.36.1 69293c9

[2018-08-29 00:17] #34 closed

[2018-09-20 19:50] Thoooreau opened #35 "RetroArch allowing to load savestates on hardcore mode"
RetroArch version:
1.7.4 (I had 1.7.1 installed when I found this massive exploit, updated to 1.7.4 - the latest - and the bug persists)

RetroArch cores:
Nintendo - NES / Famicom (FCEUmm (SVN) a37c3bc)
Nintendo - SNES / Famicom (Snes9x 1.56.2 aa8923c)

Tested only on these two, but I suppose it works on any core from any console.

How it works: play on softcore mode doing your savestates. Change

[2018-09-20 23:30] #35 closed

[2019-01-29 13:37] Keltron3030 opened #36 "Pong the Next Level (GBC)"
Game:
http://retroachievements.org/game/5067

Achievement:
http://retroachievements.org/achievement/69294

and all achievements involving the following addresses.

`0x00dff4: Difficulty [RAlibretro]`
`0x00bf84: Modes [RAlibretro]`
`0x00fff4: Difficulty [00=easy][01=medium][02=hard] [VBA]`
`0x00df84: Modes [VBA]`

Alts were created for the mode and difficulty addresses to allow for compatibility in

[2019-01-29 23:54] MrOwnership commented on #36
I am seeing the same issue for the following game:
[http://retroachievements.org/game/13829](url)

Using the following achievement as an example:
[http://retroachievements.org/achievement/70660](url)

It checks if the value at address `0x00defe` is equal to 6, indicating that the user has found the sound test screen. This achievement will trigger on RAVBA and Gambatte v0.5.0 on my Nintendo Switch

[2019-02-05 06:21] kdecks opened #37 "Pokemon Snap Leaderboards"
Leaderboard calculation/overflow(?) issue:

It seems that any user who attempt so submit a high score for the following leaderboards get the same score: -214783648. 2147483648 = 8000 0000 hex.
http://retroachievements.org/leaderboardinfo.php?i=4534
http://retroachievements.org/leaderboardinfo.php?i=4535
http://retroachievements.org/leaderboardinfo.php?i=4536
http://retroachievements.org/leaderboar

[2019-02-09 10:40] kdecks opened #38 "Leaderboards are not getting cancelled / reset on game reset"
This is the intended behavior of RAemus and RetroArch should match it.

More often than not it does not create a problem, but in some cases impossibly high scores are submitted or allow users to cheat leaderboards.

For example using SNES9x 2005 for Super Ghouls n Ghosts leaderboard on reset fills the scores with all 5s and submits.

[2019-02-09 12:58] meleu commented on #38
I suspect it's related with the issue reported by @Jamiras in  libretro/RetroArch#6705 (see the quote below), and it's already solved in rcheevos (which is not yet officially integrated in RetroArch).

[2019-02-09 15:01] Jamiras commented on #38
RetroArch always used "_" for AND in cancel - it was a previous bug that was resolved by the modifications in the DLL.

1.7.4 added support for OR in leaderboards - see http://docs.retroachievements.org/Achievement-Logic-Features/#minimum-required-versions

[2019-02-09 15:37] Jamiras commented on #38
Related code:
* cheevos: https://github.com/libretro/RetroArch/blob/master/cheevos/cheevos.c#L2057-L2075
* rcheevos: https://github.com/libretro/RetroArch/blob/master/cheevos-new/cheevos.c#L699-L717

When a leaderboard is canceled, it's `active` flag is set to false. it seems like it should be easy enough to do that in the highlighted code above.

However, I believe the rcheevos implementation sho

[2019-02-09 17:40] meleu commented on #38
Thanks for pointing the code. I'll try to submit a PR soon.

[2019-02-10 01:26] meleu commented on #38
The fix was merged.

We'll see the fix alive in the next releases.

[2019-02-10 01:26] #38 closed

[2019-02-10 01:30] Jamiras commented on #38
This still needs to be addressed, but we can worry about that when we get to testing the new cheevos code.

[2019-03-25 06:19] kdecks opened #39 "SameBoy core issue? - Lucky Luke GBC"
Using the Sameboy Core for Lucky Luke (GBC) - RA checksum: 7cf3670a8f345344e4789e41503d7da6

Lucky Luke page: http://retroachievements.org/Game/6203

The following achievements trigger on entering the second stage (stagecoach) on hard and in this order:
http://retroachievements.org/Achievement/31388 - Get a perfect on a bonus
http://retroachievements.org/Achievement/31374 - Finish Level 6
http://r

[2019-03-25 06:21] kdecks commented on #39
I tested Gambette core and RAVba with no issue.

[2019-03-25 20:25] kdecks commented on #39
Gambette core doesn't work at all. These achievements are simple so it's something besides the achievement code.

[2019-04-06 01:38] rzumer commented on #36
I'd like someone to provide a save state immediately prior to what should result in an unlock, so that it is possible to debug and test easily.

[2019-04-06 02:01] rzumer commented on #33
This seems to be a one-off issue. I don't have access so can't close it but if no one can reproduce with the information given I would assume it to be fixed at some point since the time of the report.

[2019-04-06 02:47] Keltron3030 commented on #36
https://drive.google.com/folderview?id=1--vsKvsy0SJnvNFKA0DRTAJMH5N9fLzD

This is for the achievement mentioned above saved with Gambatte I was running on Android.

[2019-04-06 03:09] rzumer commented on #36
Fixed by https://github.com/libretro/gambatte-libretro/pull/124. Expect delays before it is reflected in the distributed cores.

[2019-04-06 03:11] rzumer commented on #39
Gambatte side fixed in https://github.com/libretro/gambatte-libretro/pull/124.

[2019-04-06 03:24] rzumer commented on #39
Should be fixed soon (see https://github.com/LIJI32/SameBoy/issues/157).

[2019-04-06 04:35] rzumer commented on #31
State does not work for me. Possibly outdated. Please provide a new one for testing if this issue is still valid.

[2019-04-06 04:55] LootusMaximus commented on #31
This can be done by starting on easy retreating to corner and ducking. Let the game timer run out. With neither player taking damage. If its first fight and easy. They should never hit you while crouching in corner

[2019-04-06 05:02] rzumer commented on #31
Works for me with gambatte in RALR. Probably fixed a while back.

[2019-04-06 05:30] rzumer opened #40 "Potential Gambatte SRAM mapping issue"
https://retroachievements.org/achievement/64831 reported as not working by televandalist with Retroarch and Gambatte. This is the first time I heard of addresses in SRAM having issues, but considering [how it is mapped](https://github.com/libretro/gambatte-libretro/blob/master/libgambatte/libretro/libretro.cpp#L987), it is definitely suspicious.

[2019-04-12 01:58] meleu commented on #31
closing it as fixed. @LootusMaximus feel free to reopen if the problem still happens with you **when using an uptodate version of the core**.

[2019-04-12 01:58] #31 closed

[2019-04-12 02:00] meleu commented on #39
closing this as fixed. @kdecks feel free to reopen if the problem still happens with you **when using uptodate versions of the mentioned cores**.

[2019-04-12 02:00] #39 closed

[2019-04-12 02:15] meleu commented on #36
closing this as fixed. @keltron3030 feel free to reopen if the problem still happens with you **when using uptodate versions of the mentioned cores**.

and thanks @rzumer for all those fixes!

[2019-04-12 02:15] #36 closed

[2019-04-14 21:44] Thoooreau opened #41 "Mickey's Ultimate Challenge (USA)"
RetroArch version:
1.7.6

RetroArch cores:
Nintendo - SNES / Famicom (Snes9x 1.60 e5ee711)

Game:
Mickey's Ultimate Challenge (SNES): http://retroachievements.org/game/1029

Achievement:
Clean Sweep: http://retroachievements.org/achievement/75135

This cheevo is for beating a mini-game in a room with less than 16 moves. It has a PauseIf with hits in core to count the amount of moves. Final conditi

[2019-04-27 06:04] televandalist opened #42 "Chronicle of the Radia War | Radia Senki"
http://retroachievements.org/game/7161

The achievements work as they should while using the FCEUmm core. XashTheStampede sent me a video of several achievements randomly popping with the Mesen core, which I was able to recreate with Mesen, but not FCEUmm.

I'm not sure what the differences between the cores are, but it might be noteworthy that most useful addresses in that game are in SRAM betwee

[2019-05-07 22:40] meleu commented on #35
@Thoooreau I've received a report that this issue is back. Could you confirm that, please?

[2019-05-18 16:47] meleu commented on #24
recently we received a report about this same problem.
IIRC @kdecks confirmed it's not working with Genesis Plus GX

[2019-05-19 01:09] televandalist opened #44 "Mesen core and SRAM"
Due to how many achievements do not work properly in both Radia Senki and EarthBound Zero using Mesen, I decided to look further into it. It definitely seems tied to SRAM, at least.

The following games have sets on RA and have code notes within SRAM:
-Chronicle of the Radia War | Radia Senki
-Destiny of an Emperor
-Digital Devil Story: Megami Tensei II
-Downtown Special: Kunio-kun no Jidaigeki da

[2019-07-10 04:11] rzumer commented on #40
I'm pretty sure this is fixed, SRAM used to be excluded under certain conditions if I remember correctly. Needs to be tested however.

[2019-07-10 04:38] rzumer commented on #44
I tested [this one](https://retroachievements.org/ticketmanager.php?i=16377) and could not reproduce the issue. Considering all the reports for this title are from the same person I am not convinced that the issue exists to this day, and if we want to have any hope of fixing it a reliable sample is needed anyway (e.g. save state before a trigger that should unlock but does not).

[2019-07-10 04:52] rzumer commented on #44
This is more easily reproducible with https://github.com/meleu/RetroArch-problematic-cheevos/issues/42.

[2019-07-10 22:19] meleu commented on #40
Maybe @televandalist could retest.

[2019-07-18 00:46] salvadorc17 opened #45 "Mario Tennis mupen64 core"
Some user reports that this cheevo specific cause issues in Retroarch using mupen64 core.
https://retroachievements.org/achievement/48518

[2019-07-18 00:58] salvadorc17 commented on #45
Still worked for me
![mariotennis](https://user-images.githubusercontent.com/13541889/61421545-1f653800-a8cd-11e9-80ab-ebee660f38e9.png)

[2019-07-28 12:34] Thoooreau commented on #41
Somehow this got fixed in RetroArch 1.7.7 (Snes9x 1.60 7bb4765). Closing it.

[2019-07-28 12:34] #41 closed

[2019-08-01 00:46] #45 closed

[2020-04-26 02:21] Sanaki commented on #44
The relevant issue, for reference: SourMesen/Mesen#642

[2020-07-14 22:43] Sanaki commented on #44
This can be closed now.

[2020-07-15 01:13] #44 closed

[2020-07-15 04:03] Sanaki commented on #42
This needs to be verified, but can likely be closed now.

[2020-07-15 17:17] #42 closed